keystore.file=included
ri.enabled=true
messaging.enabled=false
apia.auth.required=false
database.jdbcDriverClass=com.mysql.jdbc.Driver
tomcat.ssl.port={{ tomcat_https_port }}
ssl.available=true
database.jdbcURL=jdbc:mysql://{{ fedora_db_host }}/{{ fedora_db_name }}?useUnicode\=true&characterEncoding\=UTF-8&autoReconnect\=true
messaging.uri=vm:(broker:(tcp://localhost:61616))
database.password={{ fedora_db_password }}
database.mysql.driver=included
database.username={{ fedora_db_user }}
fesl.authz.enabled=false
tomcat.shutdown.port=8001
deploy.local.services=true
xacml.enabled=false
database.mysql.jdbcDriverClass=com.mysql.jdbc.Driver
tomcat.http.port={{ tomcat_http_port }}
fedora.serverHost={{ tomcat_host }}
database=mysql
database.driver=included
fedora.serverContext=fedora
llstore.type=akubra-fs
tomcat.home={{ tomcat_home_redhat }}
fesl.authn.enabled=true
fedora.home={{ tomcat_home_redhat }}/fedora
rest.enabled=true
install.type=custom
servlet.engine=existingTomcat
apim.ssl.required=false
fedora.admin.pass={{ fedora_admin_password }}
apia.ssl.required=false
